<div class="comments-new-wrapper">
  <div class="container">
    <%= form_for @comment do |f|  %>
      <div class="row">
        <div class="col-md-6 offset-3">
        <%= image_tag @topic.image.url, :size =>'500x300'  %>
          <%# <div class="topic-index-single"> %>
            <div class="form-group">
              <%= f.hidden_field :topic_id, value: params[:topic_id] %>
              <%= f.text_area :comment, size: "60x10" %>
            </div>
              <%= f.submit 'コメント投稿'%>
          <%# </div> %>
        </div>
      </div>
    <% end %>
  </div>
</div>