<div class="mypage-hero-wrapper top row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mypage-edit">
    <% if @user.profile_photo.blank? %>
      <p align="center"><%= image_tag "icons/profile-icon.png" %></p>
    <% else %>
      <p align="center"><%= image_tag @user.profile_photo.url, :size =>'300x300', class:'profile_photo' %></p>
    <% end %>
    <%= form_for :user, url: users_mypage_path do |f| %>
      <div>プロフィール写真の変更</div>
      <div><%= f.file_field :profile_photo %></div>
      <div class="edit-form"><%= f.label :profile %><div class="edit-ps">70文字以内</div></div>
      <div><%= f.text_area :profile, placeholder: "ここにあなたのプロフィールを書いてください", class:"edit-profile-form-control" %></div>
      <div class="edit-form"><%= f.label :ユーザー名の変更 %><div class="edit-ps">10文字以内</div></div>
      <div><%= f.text_field :name, placeholder: "変更したいユーザーネームを入れてください", class:"edit-form-control" %></div>
      <div class="edit-form"><%= f.label :メールアドレスの変更 %></div>
      <div><%= f.text_field :email, placeholder: "変更したいメールアドレスを入れてください", class:"edit-form-control" %></div>
      <div class="edit-form"><%= f.label :パスワードの変更 %><div class="edit-ps">英数字各1文字以上</div></div>
      <div><%= f.text_field :password, placeholder: "変更したいパスワードを入れてください", class:"edit-form-control" %></div>
      <div class="edit-form"><%= f.label :パスワードの確認 %></div>
      <div><%= f.text_field :password_confirmation, placeholder: "確認のため先ほどのパスワードを入力してください", class:"edit-form-control" %></div>
      <p align="center", class="edit-form"><%= f.submit "マイページの更新", class:"btn btn-index" %></p>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>