<div class="mypage-hero-wrapper">
    <div class="mypage-edit-link col-md-6 offset-3">
        <%= image_tag "icons/profile-icon.png" %>
        <p><h3 class="profile-edit fukidashi-icon"><%= link_to 'プロフィール編集', users_mypage_edit_path %></P>
        <span class="fukidashi">ここからプロフィールの写真、パスワード、メールアドレスの再設定ができるよ</span>
        </h3>
        <% if @user.profile == nil %>
        <p>設定したプロフィールが表示されるよ</p>
        <P>自分のことを書いてPRしてみよう</p>
        <% else %>
            <p>プロフィール</p>
            <p><%= @user.profile %></p>
        <% end %>
        <p>ユーザーネーム</p>
        <%= @user.name %>
        <p>メールアドレス</p>
        <%= @user.email %>
    </div>
</div>