<div class="mypage-hero-wrapper">
    <div class="row" >
        <div class="col-md-1"></div>
        <div class="mypage-edit-link col-md-5">
            <% if @user.profile_photo == nil %>
                <%= image_tag "icons/profile-icon.png" %>
            <% else %>
                <%= image_tag @user.profile_photo.url, :size =>'200x200', class:'profile_photo' %>
            <% end %>
            <p><h3 class="profile-edit fukidashi-icon-edit"><%= link_to 'プロフィール編集', users_mypage_edit_path %></P>
            <span class="fukidashi-edit">ここからプロフィールの写真、パスワード、メールアドレスの再設定ができるよ</span>
            </h3>
            <% if @user.profile == nil %>
            <p>設定したプロフィールが表示されるよ</p>
            <P>自分のことを書いてPRしてみよう</p>
            <% else %>
                <p>プロフィール</p>
                <div  class="edit-profile-form-control mypage-text" >
                <%= simple_format(@user.profile) %>
                </div>
            <% end %>
            <p>ユーザーネーム</p>
            <%= @user.name %>
            <p>メールアドレス</p>
            <%= @user.email %>
        </div>
            <div class="mypage-edit-link col-md-6">
            <%# <%= @usertopics %>
            <% @prefectures.each do |prefecuture| %>
            <%= prefecuture.prefecture_name %>
            <% end %>
            <%= @prefectures.size %>/47
            <%# <%= @usertopics.description %>
            <%# <%= @usertopics.user_id %>
            </div>
    </div>
</div>