<div class="mypage-hero-wrapper">
    <div class="row" >
        <div class="offset-1"></div>
        <div align="center" class="col-md-5">
            <% if @user.profile_photo.blank? %>
                <%= image_tag "icons/profile-icon.png" %>
            <% else %>
                <%= image_tag @user.profile_photo.url, :size =>'200x200', class:'profile_photo' %>
            <% end %>
            <% if @user.id == current_user.id  %>
                <p><h4 class="profile-edit fukidashi-icon-edit"><%= link_to 'プロフィール編集', users_mypage_edit_path %></P>
                <span class="fukidashi-edit">ここからプロフィールの写真、パスワード、メールアドレスの再設定ができるよ</span>
                </h4>
            <% end %>
            <% if @user.profile == nil %>
                <p>設定したプロフィールが表示されるよ</p>
                <p>自分のことを書いてPRしてみよう</p>
            <% else %>
                <p class="mypage-contents">プロフィール</p>
                <div  class="edit-profile-form-control mypage-text" >
                <%= simple_format(@user.profile) %>
                </div>
            <% end %>
            <p class="mypage-contents">ユーザーネーム</p>
            <div  class="mypage-text" >
                <%= @user.name %>
            </div>
            <p class="mypage-contents">メールアドレス</p>
            <div  class="mypage-text" >
                <%= @user.email %>
            </div>
        </div>
        <div class="mypage-edit-link col-md-3">
            <h2 class='mypage-status'>踏破状況</h2>
            行った県数　<b><%= @prefectures.size %>/47</b>
            <div>全国踏破 <b><%= @prefectures.size.to_i*100/47 %> ％達成</b></div>
                目指せ１００％
            <div class="pie-chart"><%= pie_chart @chart, colors: ["#ff943c", "#b5b5b5"] %></div>
        </div>
        <div class="mypage-edit-link col-md-2 prefecture-name">
            <h4>今まで行った県</h4>
            <% @prefectures.each do |prefecuture| %>
            <%= simple_format(prefecuture.prefecture_name) %>
            <% end %>
        </div>
        <%# jQueryコードがbootstrap内だと一部機能しない問題 %>
    </div>
    <div row >
        <div class="offset-1 map-info"><p>投稿した県の色が変わるよ！</p></div>
        <div class="col-md-10" align="center" id="map"></div>
        <div class="offset-1"></div>
    </div>
</div>


<script>
    $(function(){
        var areaLinks = {
            1:"javascript:void(0)",
            2:"javascript:void(0)",
            3:"http://rmtmhome.com",
            4:"http://rmtmhome.com",
            5:"http://rmtmhome.com",
            6:"javascript:void(0)",
            7:"javascript:void(0)",
            8:"javascript:void(0)",
            9:"<%= users_mypage_url %>",
            10:"<%= topics_url %>"
            };
    $.get( "users/area", function(data) {
    var prefectures = data;
        $("#map").japanMap(
            {
                areas  : prefectures, //上で設定したエリアの情報
                selection : "prefecture", //選ぶことができる範囲(県→prefecture、エリア→area)
                borderLineWidth: 0.25, //線の幅
                borderLineColor: "#000000",
                drawsBoxLine : false, //canvasを線で囲む場合はtrue
                movesIslands : true, //南西諸島を左上に移動させるときはtrue、移動させないときはfalse
                showsAreaName : false, //エリア名を表示しない場合はfalse
                showsPrefectureName: true,　//県名の表示
                width: 800, //canvasのwidth。別途heightも指定可。
                backgroundColor: "#ffffff", //canvasの背景色
                font : "MS Mincho", //地図に表示する文字のフォント
                fontSize : 10, //地図に表示する文字のサイズ
                fontColor : "areaColor", //地図に表示する文字の色。"areaColor"でエリアの色に合わせる
                fontShadowColor : "white", //地図に表示する文字の影の色
                
                // onSelect : function(data){
                    // location.href = areaLinks[data.area.code];
                // },
            }
        );
    });
});
</script>