<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">新規登録</h1>

        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :ユーザーネーム, class: 'text-white' %>
            <%= f.text_field :name, placeholder: "お好きな名前を4〜12文字以内でご入力", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :メールアドレス, class: 'text-white' %>
            <%= f.text_field :email, placeholder: "表示させたいテキストを記述",class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード, class: 'text-white' %>
            <%= f.text_field :password, placeholder: "６〜８文字で英数字をそれぞれ一文字以上使ってください", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード　再入力, class: 'text-white' %>
            <%= f.password_field :password_confirmation, placeholder: "確認のため先ほどのパスワードをご入力くださいs", class: 'form-control' %>
          </div>

          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
        <%= link_to 'ログインはこちら',login_path , class: 'text-white' %>
      </div>
    </div>
  </div>
</div>
