<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
  <% end %>
<!-- 以下ナビゲーションバー編集　-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-transparent ">
      <%= link_to root_path do %>
        <li class="navbar-brand nav-btn">
          <span><%= image_tag "icons/logo.png" %></span>
        </li>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav nav-item btn-block ">
          <% if logged_in? %>
            <%= link_to users_mypage_path do %><li class="btn nav-btn ">マイページ</li><% end %>
            <%= link_to topics_usertopics_path do %><li class="btn nav-btn">自分の投稿</li><% end %>
            <%= link_to favorites_index_path do %><li class='btn nav-btn'>いいねした投稿</li><% end %>
            <%= link_to new_topic_path do %><li class='btn nav-btn'>新規投稿</li><% end %>
            <%= link_to topics_path do %><li class='btn nav-btn'>みんなの投稿一覧</li><% end %>
            <p class=" navbar-text"><%= current_user.name %>さん ようこそ</p>
            <li class='btn nav-btn fukidashi-icon'>
              <%= link_to logout_path, method: :delete, data: {confirm: "本当にログアウトしますか？"} do %>
                <%= image_tag "icons/logout.png" %>
              <% end %>
              <span class="fukidashi">ログアウト</span>
            </li>
          <% else %>
            <p class="navbar-text">ようこそ ゲスト さん</p>
          <% end %>
        </ul>
      </div>
    </nav>
<!-- 以下過去ナビゲーションバー編集　--
<nav class="navbar navbar-default　navbar-expand  navbar-transparent">
	<div class="container-fluid container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample5">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
        <%= link_to root_path do %>
        <span><%= image_tag "icons/logo.png" %></span>
        <% end %>
			</a>
		</div>
		<% if logged_in? %>
      <div class="collapse navbar-collapse" id="navbarEexample5">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to users_mypage_path do %>マイページ<% end %></li>
　　　　　　<li><%= link_to new_topic_path do %>自分の投稿<% end %></li>
          <li><%= link_to favorites_index_path do %>いいねした投稿<% end %></li>
          <li><%= link_to new_topic_path do %>新規投稿<% end %></li>
          <li><%= link_to topics_path do %>みんなの投稿一覧<% end %></li>
          <p class="navbar-text"><%= current_user.name %>さん ようこそ</p>
          <li>
          <%= link_to logout_path, method: :delete do %>
            <%= image_tag "icons/logout.png" %>
          <% end %>
          </li>
    <% else %>
			  <p class="navbar-text">ようこそ ゲスト さん</p>
      </ul>
		</div>
    <% end %>
	</div>
</nav>
以上過去ナビゲーションバー編集　-->

  <%= yield %>

  <script>
    $(function(){
      $(".alert").fadeOut(5000);
      });
  </script>
  </body>
</html>
