<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <script src="/path/to/jquery.min.js"></script>おそらくgemでjQueryを読み込んでるの必要ないはず %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="js/japanmap/jquery.japan-map.min.js"></script>
        <script>
        $(function(){
            $("#map-container").japanMap({
                onSelect : function(data){
                    alert(data.name);
                }
            });
        });
    </script>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <!-- 以下ナビゲーションバー編集　-->
    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparent site-header ">
      <%= link_to root_path do %>
        <li class="btn nav-btn fukidashi-icon top-icon">
            <%= image_tag "icons/logo.png" %>
            <span class="fukidashi">トップ画面</span>
        </li>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav nav-item btn-block ">
          <% if logged_in? %>
            <%= link_to users_mypage_path do %><li class="btn nav-btn ">マイページ</li><% end %>
            <%= link_to topics_usertopics_path do %><li class="btn nav-btn">自分の投稿</li><% end %>
            <%= link_to favorites_index_path do %><li class='btn nav-btn'>いいねした投稿</li><% end %>
            <%= link_to new_topic_path do %><li class='btn nav-btn'>新規投稿</li><% end %>
            <%= link_to topics_path do %><li class='btn nav-btn'>みんなの投稿一覧</li><% end %>
            <p class=" navbar-text">
            <% if  current_user.profile_photo.blank? %>
            <% else %>
              <%= image_tag current_user.profile_photo.url, class:"profile_photo_mini" %>
            <% end %>
            <%= current_user.name %>さん ようこそ
            全国<%= prefecture_clear.size %>/47踏破！！</p>
            
              <%= link_to logout_path, method: :delete, data: {confirm: "本当にログアウトしますか？"} do %>
                <li class='btn nav-btn fukidashi-icon'>
                  <%= image_tag "icons/logout.png" %>
                  <span class="fukidashi">ログアウト</span>
                </li>
              <% end %>
          <% else %>
            <p class="navbar-text">ようこそ ゲスト さん</p>
          <% end %>
        </ul>
      </div>
    </nav>
    <div id="page-top-btn"><a class="fa fa-angle-double-up"></a></div>
    <%= yield %>
    <script>
      $(function(){
        //CRUD処理時に画面上部にポップアップ
        $(".alert").fadeOut(5000);
      });

      $(function(){
        //右下ボタンで画面上部にスクロール
        var pagetop = $('#page-top-btn');
        pagetop.hide();
        $(window).scroll(function () {
          if ($(this).scrollTop() > 200) {  //200pxスクロールしたら表示
              pagetop.fadeIn();
          } else {
              pagetop.fadeOut();
          }
        });
        pagetop.click(function(){
          $('html, body').animate({
            'scrollTop':0
          },500);
        });
      });
      $(function(){
      //スクロール時にナビゲーションバー 出現
        var startPos = 0,winScrollTop = 0;
        $(window).on('scroll',function(){
        winScrollTop = $(this).scrollTop();
        if (winScrollTop >= startPos) {
          if(winScrollTop >= 200){
            $('.site-header').addClass('hide');
          }
        } else {
          $('.site-header').removeClass('hide');
        }
        startPos = winScrollTop;
        });
      });



    </script>
  </body>
</html>
